<div class="content-wrap">
	<h1 class="page-title"><%= @conversation.title %></h1>

	<%= link_to "Back to conversations", conversations_path, class: 'page-link' %>

	<% if @messages.count > 0 %>
		<ul id="messages-list" class="items messages">
      <%= render @messages %>
		</ul>
	<% end %>

  <hr>

  <div class="wrap message-form">
    <h3 class="page-title">Submit a message to <%= other_conversation_participant(@conversation) %></h3>
    <%= render partial: 'message_form', locals: { conversation: @conversation, message: Message.new } %>
  </div>

</div>
