<div class="content-wrap">
	<h1 class="page-title"><%= @conversation.title %></h1>

	<%= link_to "Back to conversations", conversations_path, class: 'page-link' %>

	<% if @messages.count > 0 %>
		<ul class="items messages">
			<% @messages.each do |message| %>
				<li class="item message">
					<div class="message-wrap">
						<div class="messsage-body">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							<p><%= message.content %></p>
							<i class="fa fa-quote-right" aria-hidden="true"></i>
						</div>
					</div>
					<div class="message-author">
						<div class="image">
							<%= image_tag message.sender.main_image, class: "circle" %>
						</div>
						<p><%= link_to message.sender.name, user_path(message.sender) %> @ <%= message.message_time %></p>
					</div>
				</li>
			<% end %>
		</ul>
	<% end %>

	<br>
	<%= link_to "New message", new_conversation_message_path(@conversation) %> |
	<%= link_to "Back", conversations_path %>
</div>
