<h1><%= current_user.name %></h1>
<% if @conversations.count > 0 %>
	<h3>Your conversations</h3>
	<ul>
		<% @conversations.each do |conversation| %>
			<li><%= link_to conversation.title, conversation_messages_path(conversation) %></li>
		<% end %>
	</ul>
<% end %>

<h3>Start a conversation</h3>
<!--submit data to the conversations#create action-->
<%= form_tag conversations_path, method: 'post' do %>
	<%= label_tag "Title" %>
	<%= text_field_tag :title %><br>
	<%= label_tag "Select user" %>
	<%= select_tag "recipient_id", options_for_select(@users.collect {|u| [u.name, u.id]}), include_blank: true %>
	<%= submit_tag "Start conversation"	%>
<% end %>
