<div class="content-wrap">
	<h1 class="page-title">Current projects</h1>

	<%= link_to 'Add a new project', new_project_path, class: "page-link" %>

	<% if @projects.count > 0 %>
		<ul class="items opportunities">
			<% @projects.each do |project| %>
				<li class="item project">
					<div class="contents-wrap clearfix">

						<div class="profile">
							<div class="image">
								<%= image_tag user_avatar(project.author.main_image), class: 'circle' %>
							</div>
							<div class="details">
								<h3><%= link_to project.author.name.upcase, user_path(project.author) %></h3>
								<p><%= project.author.email %></p>
								<% if project.author.social_links.count > 0 %>
									<div>
										<% project.author.social_links.each do |link| %>
											<%= link_to link.url, target: "_blank", class: "link_icon" do %>
												<i class="fa fa-2x fa-<%= link.name.downcase %>"></i>
											<% end %>
										<% end %>
									</div>
								<% end %>
							</div>
						</div>

						<div class="contents">
							<p class="title"><%= project.title %></p>
							<div class="description-wrap">
								<p class="description">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
									<%= project.description[0..200] %>...
									<i class="fa fa-quote-right" aria-hidden="true"></i>
								</p>
								<%= link_to "Read more", project_path(project)  %>
							</div>
						</div>

					</div>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>
