<div class="content-wrap">

	<div class="project-wrap">
		<div class="project">
	    <h2 class="page-title"><%= @project.title %></h2>
			<p><%= @project.description %></p>

			<% if @skills.count > 0 %>
				<h3>You will have the following capabilities</h3>
				<dl class="items skills">
					<% @skills.each do |skill| %>
						<dt class="skill-title"><%= skill.title %></dt>
						<dd class="skill-description"><%= skill.description %></dd>
					<% end %>
				</dl>
			<% end %>
		</div>

		<div class="author-details">
			<div class="image">
				<%= image_tag user_avatar(@author.main_image), class: "circle" %>
			</div>
			<% if current_user != @author %>
				<div class="author-links clearfix">
					<p>Check <%= link_to "#{@author.name}'s", user_path(@author) %> profile</p>

						<span>&nbsp;or </span>
						<%= form_tag conversations_path, method: 'post' do %>
							<%= hidden_field_tag :title, value = @project.title  %>
							<%= hidden_field_tag :recipient_id, value = @author.id %>
							<%= submit_tag "start a conversation", class: "btn-conversation"	%>
					<% end %>
				</div>
			<% end %>
		</div>

		<div id="project-nav" class="clearfix">
    	<%= next_project_link(@project.id) %>
    	<%= prev_project_link(@project.id) %>
		</div>
	</div>

	<%= link_to "Back to projects", projects_path, class: "page-link-bottom" %>
</div>
