<div class="devise-form clearfix">

	<div class="intro-wrap">
		<div>
			<div class="logo"></div>
			<h2>Find-A-Dev</h2>
			<p><i class="fa fa-circle-thin"></i>Looking for a developer to bring your vision to life</p>
			<p><i class="fa fa-circle-thin"></i>You're a developer looking for the next big idea</p>
			<p><i class="fa fa-circle-thin"></i>Sign up and start the search</p>
		</div>

	</div>

	<div class="form-wrap">

		<h2>signin with</h2>

		<%= render "devise/shared/omniauthable_providers" %>
		<%= render "devise/shared/division" %>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="field">
				<%= f.label :email %>
				<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
			</div>

			<div class="field password">
				<%= f.label :password %>
				<%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
			</div>

			<% if devise_mapping.rememberable? -%>
				<div class="remember-me">
					<%= f.check_box :remember_me %>
					<%= f.label :remember_me, "remember me" %>
				</div>
			<% end -%>

			<div class="actions">
				<%= f.submit "Sign in", class: "btn btn-info btn-block" %>
			</div>
		<% end %>

		<%= render "devise/shared/links" %>

	</div>

</div>
