<%= form_for opportunity do |f| %>
	<%= render partial: 'shared/errors', locals: {obj: opportunity} %>

	<fieldset class="general">
		<legend>Describe the project</legend>
		<%= render partial: "shared/text_field", locals: {builder: f, prop: :title} %>
		<%= render partial: 'shared/text_area', locals: {builder: f, prop: :description} %>

		<%= f.hidden_field :author_id, value: "#{current_user.id}" %>
	</fieldset>

	<fieldset class="skills">
		<legend>Add a skill(optional)</legend>
		<div class="skill">
			<%= f.fields_for :opportunity_skills do |builder| %>
				<%= render partial: 'opportunity_skill_field', locals: {f: builder} %>
			<% end %>

			<div class="control-group">
				<%= add_another_field 'Add Skill', f, :opportunity_skills %>
			</div>
		</div>
	</fieldset>

	<%= f.submit 'Create Project', class: "btn btn-info" %>
<% end %>
