<div class="content-wrap">

	<div class="opportunity-wrap">
		<div class="opportunity">
	    <h1 class="page-title"><%= @opportunity.title %></h1>
			<p><%= @opportunity.description %></p>

			<% if @skills.count > 0 %>
				<h3>You will have the following capabilities</h3>
				<dl class="items skills">
					<% @skills.each do |skill| %>
						<dt class="skill-title"><%= skill.title %></dt>
						<dd class="skill-description"><%= skill.description %></dd>
					<% end %>
				</dl>
			<% end %>
		</div>

		<div class="author-details">
			<div class="image">
				<%= image_tag user_avatar(@author.main_image), class: "circle" %>
			</div>
			<% if current_user != @author %>
				<div class="author-links clearfix">
					<p>Check <%= link_to "#{@author.name}'s", user_path(@author) %> profile</p>

						<span>&nbsp;or </span>
						<%= form_tag conversations_path, method: 'post' do %>
							<%= hidden_field_tag :title, value = @opportunity.description[0, 60]  %>
							<%= hidden_field_tag :recipient_id, value = @author.id %>
							<%= submit_tag "start a conversation", class: "btn-conversation"	%>
					<% end %>
				</div>
			<% end %>
		</div>

    <%= prev_project_link(@opportunity.id) %>
	</div>

	<%= link_to "Back to projects", opportunities_path, class: "page-link" %>
</div>
