<!DOCTYPE html>
<html>
<head>
	<title>FindADev</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
	<%= csrf_meta_tags %>
	<%= analytics_init if Rails.env.production? %>
</head>

<body id="devise">

	<div class="container">
		<%= render 'layouts/flash' %>
		<%= devise_error_messages! %>

		<div class="devise clearfix">
			<%= yield %>
		</div>

	</div>
</body>
</html>
